# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*
server/.env

# Database
server/db.sqlite3

# Static/build files
server/staticfiles/
node_modules/
dist/

# Virtual environment
venv/
server/venv/